@import '../../styles/abstracts/colors';

:host {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

  .register-box {
    align-items: center;
    background-color: $light-gray;
    border-top: 5px solid $blue;
    display: flex;
    flex-direction: column;
    padding: 40px 20px 20px;
    width: 400px;

    &-form {
      border-bottom: 2px solid $gray;
      margin-bottom: 10px;
      padding: 10px 0;
      width: 100%;
    }

    &-logo {
      margin-bottom: 10px;
      width: 90%;
    }

    &-txt {
      letter-spacing: 8px;
      margin-bottom: 30px;
      margin-right: -8px;
    }
  }
}
