@import '~styles/abstracts/colors';

:host {
  display: flex;
  justify-content: center;

  .book-detail {
    align-items: start;
    background-color: $white;
    box-shadow: 5px 5px 5px rgba($gray, 0.75);
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: max-content auto;
    max-width: 1200px;
    padding: 40px 30px;
    width: 100%;

    &-field {
      font-size: 15px;
      margin-bottom: 20px;

      &-label {
        font-weight: bold;
      }
    }

    &-img {
      max-width: 325px;
    }

    &-info {
      padding: 0 20px;
    }

    &-title {
      border-bottom: 5px solid $green;
      display: block;
      font-size: 26px;
      margin-bottom: 30px;
      padding-bottom: 20px;
    }

    &-genre {
      color: $dark-gray;
      font-size: 16px;
    }
  }
}

.no-image-container {
  background-color: $light-gray;
  width: 325px;
  height: 325px;
  overflow: hidden;
  position: relative;
}

.no-image {
  left: 50%;
  margin-right: -50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}
