.footer {
  align-items: center;
  background-color: $blue;
  color: $white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;

  &-copyright {
    align-self: flex-end;
    color: inherit;
    font-size: $text-small;
  }

  &-logo {
    margin-bottom: 10px;
    width: 400px;
  }

  &-slogan {
    color: inherit;
    font-size: $text-big;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 1024px) {
  .footer {
    &-copyright {
      align-self: center;
      font-size: 8px;
    }

    &-logo {
      margin-bottom: 30px;
      width: 200px;
    }

    &-slogan {
      font-size: 12px;
      margin: 20px 0 10px;
    }
  }
}
