.nav-bar {
  align-items: center;
  background-color: $white;
  box-shadow: 0 5px 5px rgba($light-gray, 0.75);
  display: flex;
  height: $nav-height;
  justify-content: space-between;
  padding: 0 25px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  &-logo {
    height: $nav-logo-height;
    width: auto;
  }

  &-brand {
    font-size: $text-big;
  }
}

@media only screen and (max-width: 1024px) {
  .nav-bar-brand {
    display: none;
  }
}
