@import 'colors';
@import 'variables';
@import 'mixins';

.tech-card {
  align-items: center;
  background-color: $green;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 20px 30px;
  position: relative;
  width: $tech-card-size;

  &::before {
    border: 1px solid $green;
    border-radius: inherit;
    content: '';
    height: 100%;
    left: -10px;
    position: absolute;
    top: -10px;
    @include transition(top .2s, left .2s); /* Imported from mixins */
    width: 100%;
    z-index: -1;
  }

  &:hover::before {
    top: 10px;
    left: 10px;
  }

  &-logo {
    height: $tech-card-icon-size;
    margin-bottom: 10px;
    width: $tech-card-icon-size;
  }

  &-name {
    font-size: $text-medium;
    margin-bottom: 10px;
  }

  &-release {
    font-weight: bold;
    margin-bottom: 20px;
  }

  &-description {
    text-align: center;
  }
}

.tech-card-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto 80px;
  width: 90%;
}
