.tech-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 20px 30px;
  position: relative;
  width: $tech-card-size;

  &-logo {
    height: $tech-card-icon-size;
    margin-bottom: 10px;
    width: $tech-card-icon-size;
  }

  &-name {
    font-size: $text-medium;
    margin-bottom: 10px;
  }

  &-release {
    font-weight: bold;
    margin-bottom: 20px;
  }

  &-description {
    text-align: center;
  }
}

.tech-card-container {
  display: grid;
  grid-template: [top-limit] auto auto [bottom-limit]/ max-content max-content max-content;
  justify-content: center;
  margin: 0 auto 80px;
  width: 90%;
}


.tech-card.tech-card-main {
  justify-content: center;
  grid-row: top-limit / bottom-limit;

  &::before {
    border: 1px solid $green;
    content: '';
    height: 100%;
    right: 0;
    position: absolute;
  }
}
