@import 'colors';

$tech-logo-size: 75px;
$title-decoration-height: 100px;

.text-big {
  color: $black;
  font-size: 25px;
  height: $title-decoration-height;
  min-width: 75px;
  padding: 40px 55px;
  position: relative;
  width: 100%;

  &::before {
    background-image: url(assets/triangle.svg);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: $tech-logo-size;
    z-index: -1;
  }
}
