/* CSS Reset */
@import 'equalizer';

/* Constants */
@import 'colors';
@import 'variables';

/* Content */
@import 'footer';
@import 'navbar';
@import 'tech';
@import 'titles';


.main-content {
  margin: $nav-height auto 0;
  max-width: 100%;
  padding: 20px;
  width: 1200px;
}
